<h1>Edit <%= @story.name %></h1>

<form action="/storys/<%= @story.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="story[name]">Story Name:
    <input type="text" name="story[name]" value="<%= @story.name %>">
  </label> <br>
  <label for=story[url]"">URL:
    <input type="text" name="story[url]" value="<%= @story.url %>">
  </label> <br>
  <input type="submit" name="submit" value="Edit This Story">
</form>

<br><br>

<form action="/storys/<%= @story.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete This Story">
</form>
